/********** Base styles **********/
* {
  box-sizing: border-box;
  
}

#haeder-nav{
  border-radius: 0; /*消除边框圆角*/
  border: 0;
}



 .navbar-header .navbar-brand h1{
  float: left;
  font-size: 1.5em;
  line-height: 20px;
  color: #337ab7;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px skyblue;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  }

.navbar-default .navbar-header button{
  border-color:  #337ab7;
}

.navbar-default .navbar-header button.navbar-toggle span.icon-bar{
  background-color:  #337ab7;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  background-color: #337ab7;
  font-size: 125%;
  text-align: center;
}
#nav-list a:hover {
  background: transparent;
  color: #337ab7;
}


h1 {
	margin-top: 25px;
  margin-bottom: 25px;
  font-size: 5em;
  font-style: Helvetica;
  text-align: center;
  color: #337ab9;
}

.row section{
	background-color: lightgrey;
	border: 3px solid black;   
 	margin-right: 15px;    
  margin-left: 15px;    
  margin-bottom: 15px; 
  position: relative;   		
}

.row a{
  text-decoration: underline;
}

h2 {
  width: 100%;
  height: 30px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-family: Helvetica;
  text-align: center;
  color: white;
  font-size: 125%;
  padding-top: 5px;

}

.Kidding{
  background-color: darkgrey;
  color: white;
}

.Tokyo{
	background-color: pink;
	
}

.Osaka{
	background-color: lightblue;
}

.Kyoto{
	background-color: lightgreen;
}

p{
	font-style: Helvetica;
  margin-top: 55px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
	
	
}
/* Simple Responsive Framework. */
.row {
  width: 100%;

}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
    
  }
  #collapsable-nav #nav-list{
    display: none;
  }


  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
    
  }

  #collapsable-nav #nav-list{
    display: none;
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }  
}